h1, h2, h3, h4, h5, h6 {
	font-family: $heading-font;
	font-weight: $heading-weight;
	line-height: 1;
	margin-top: clamp(#{$phi}rem, 3.14vw, #{$pi}rem);
	margin-bottom: clamp(0.618rem, 1.618vw, 1.618rem);
	color: var(--color-heading);
	transition: all 200ms ease;
	@include only(first) {
		margin-top: 0;
	}
}

.sub {
  color: var(--color-subheading);
  position: relative;
  top: -2.5vw;
  margin-left: 2vw;
}

h1 {
  font-size: $h1;
	letter-spacing: -0.1vw;
	margin-top: 0;
}

h2 {
	font-size: $h2;
	letter-spacing: -0.075vw;
}

h3 {
	font-size: $h3;
	letter-spacing: -0.05vw;
}

h4 {
	font-size: $h4;
	letter-spacing: -0.025vw;
}

h5 {
	font-size: $h5;
}

h6 {
  font-size: $h6;
}

small,
.text-small {
	font-size: 0.618rem;
	line-height: 1.5;
	letter-spacing: 0.0618rem;
}

p {
   font-size: $p;
   line-height: $text-line;
   margin: calc(var(--space-phi) * 0.75) 0 calc(var(--space-phi) * 0.75);
   @include except(first) {
      margin-top: 0;
   }
}

b, strong {
  font-weight: 700;
}
