.content {
  @apply relative flex flex-col w-full h-full m-0;
  padding-top: $space;
  padding-bottom: $space;

  figure {
    @apply border border-slate-700/40 hover:border-slate-500/80;
    figcaption {
      @apply absolute bottom-0 left-0 w-full px-4 py-4 opacity-50 backdrop-blur-md shadow-xl shadow-black;
      background-color: slate(9);
      color: var(--color-accent);
      transition: all 300ms ease-in-out;
    }
    &:hover {
      figcaption {
        @apply opacity-80;
      }
    }
  }
}
