// General utility classes

// Hide something completely
.hidden,
.visuallyhidden,
.hide {
  display: none;
  visibility: hidden;
  backface-visibility: hidden;
  border: 0;
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

// Drop this wherever you need a finger pointer cursor without a link
.pointer {
	cursor: pointer;
}

// The one, the only, the legendary, ubiquitous CLEARFIX
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

// Quick ref class for the animated color changing overlay
.rgb-overlay {
  display: flex;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(slate(5), 0.3);
  mix-blend-mode: color-burn;
  animation-name: hueRotator;
  animation-duration: 8s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}
