// Init Sass Color Functions
@import "toolkit/open-color",
        "toolkit/palettes",
        "~nord/src/sass/nord",
        "toolkit/gradients";

//
// Using Gorko to generate color theme properties based on some variable maps
// for a primary theme (light colors) and a dark mode theme (dark colors)
//

$generate-utility-classes: false;
// ^ Tell Gorko not to auto-generate utility classes, we can do that as needed
// ------


// Color map for "Light / Primary" color theme
$light-colors: (
  'primary': #1a1a1a,
  'secondary': #f3f3f3,
  'text': ocGray(9),
  'body': slate(1),
  'background': gradient(metallic-fade),
  'heading': $nord2,
  'subheading': slate(5),
  'accent': $nord7,
  'descent': $nord3,
  'mid': slate(5),
  'alt': ocGray(5),
  'link': ocGray(8),
  'link-hover': slate(6)
);

// Color map for "Dark / Alternate" color theme (inverse contrast to light theme)
$dark-colors: (
  'primary': slate(2),
  'secondary': #040405,
  'text': ocGray(1),
  'body': slate(9),
  'background': gradient(dark-fade),
  'heading': $nord6,
  'subheading': $nord3,
  'accent': $nord3,
  'descent': $nord7,
  'mid': slate(5),
  'alt': ocGray(5),
  'link': $nord7,
  'link-hover': slate(4)
);

// Configuration to initialize Gorko to generate theme properties
$gorko-config: (
  'css-vars': (
    'themes': (
      'default': (
        'tokens': (
          'color': $light-colors
        )
      ),
//    'dark': (
//      'prefers-color-scheme': 'dark',
//      'tokens': (
//        'color': $dark-colors
//      )
//    ),
      'light': (
        'prefix': '.theme-light',
        'tokens': (
          'color': $light-colors
        )
      ),
      'dark-toggle': (
        'prefix': 'theme-dark',
        'tokens': (
          'color': $dark-colors
        )
      )
    )
  )
);

// Init Gorko
@import "~gorko/gorko";

// Set breakpoints used by Gerillass breakpoint mixin
$map-for-breakpoints: (
  "xsmall":   32rem,   // 512px
  "small":    48rem,   // 768px
  "medium":   64rem,   // 1024px
  "large":    80rem,   // 1280px
  "xlarge":   90rem   // 1440px
  // "2xlarge":  112.5rem // 1800px
);

// Selected custom properties from Open Props
@import "~open-props/gradients";
@import "~open-props/borders";
@import "~open-props/shadows";

// My own custom properties generated by Accoutrement
@import "toolkit/fluid-sizes";
@import "toolkit/social-colors";
@import "toolkit/easing";

$content-width:       map-get($map-for-breakpoints, xlarge);

// Porting CSS custom props into Sass variables for easier typing shorthand
$phi:                 var(--phi);
$e:                   var(--e);
$pi:                  var(--pi);
$space:               var(--space-phi);
$space-phi:           var(--space-phi);
$space-e:             var(--space-e);
$space-pi:            var(--space-pi);

$p:                   var(--p);
$sm:                  var(--sm);
$md:                  var(--md);
$lg:                  var(--lg);
$xl:                  var(--xl);
$xxl:                 var(--xxl);
$xxxl:                var(--xxxl);
$xxxxl:               var(--xxxxl);

$h1:                  var(--h1);
$h2:                  var(--h2);
$h3:                  var(--h3);
$h4:                  var(--h4);
$h5:                  var(--h5);
$h6:                  var(--h6);

// Some Sass variables to call up fonts imported into "/scss/toolkit/fonts"
$barlow:             'Barlow', sans-serif;
$genos:              'Genos', sans-serif;
$kanit:              'Kanit', sans-serif;

$text-font:           $barlow;
$text-line:           1.618rem;
$text-weight:         300;
$heading-font:        $genos;
$heading-weight:      500;
