// Init Tailwind Utilities
@import "~tailwindcss/base",
        "~tailwindcss/components",
        "~tailwindcss/utilities";

// Init Gerillass Library
@import "~gerillass";

// Init Sass Mixins & Flex Grid Tools
@import "toolkit/mixins",
        "toolkit/flex-grid",
        "toolkit/fonts";

// Init Configuration Variables
@import "config";

@import "utilities/layout",
        "utilities/animations",
        "utilities/classes";

// Load component styles
@import "components/global",
        "components/media",
        "components/typography",
        "components/icons",
        "components/header",
        "components/footer";

// Load page view styles
@import "views";
